<!-- Вариант 1. Бутстрап -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="/media/лейбл НОК.png" alt="" width="210" height="70">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Чеклист</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'departments' %}">Реестр организаций</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'organisation' %}">Документ</a></li>
                <li class="nav-item"><a class="nav-link" href="/">Справочник</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin">Админка</a></li>
            </ul>

            <ul class="navbar-nav mb-auto">
                <span class="navbar-text">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link">{{ user.username }}</a></li>
                    {% endif %}
                </span>
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Пользователь</a>


                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Выход</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{% url 'login' %}">Войти</a></li>
                    <li><a class="dropdown-item" href="{% url 'register' %}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
</div>
</nav>



{% comment %}
<!-- Вариант 2. Самописный -->
<nav id="page_wrap">
    <div id="page">
        <!-- Шапка начало -->
        <div id="page_header">

            <div id="menubtn">
                <div id="menubtn-line">
                    <div class="menubtn-line"></div>
                    <div class="menubtn-line"></div>
                    <div class="menubtn-line"></div>
                </div>
                МЕНЮ
            </div>

            <a href="{% url 'home' %}" id="logo">
                <img src="/media/лейбл НОК.png" width="210" height="70">
            </a>

            <div id="header_searsh*">
                <form action="/" method="get">
                    <input
                    type="text"
                    name="searchword"
                    id="search_text"
                    value=""
                    placeholder="Искать департамент, организацию"
                    autocomplete="off"
                    >
                    <input type="submit" name="search_btn" id="search_btn" value="&#xf002">
                </form>
            </div>

            <div id="header_time">
                <div id="header_time_in" datetime="2022-06-18 16:37:03">
                    <div id="header_time_time">16:37</div>
                    <div id="header_time_date">11.08.2022</div>
                </div>

            </div>

            <div id="header_user">
                <div id="header_user_btn">

                    <span id="header_user_btn_name">
                        {% if request.user.is_authenticated %}
                        Добро пожаловать, {{ user.username }} | <a href="{% url 'logout' %}">Выход</a>   <!-- ... или ссылка на выход  -->
                        {% else %}
                        <a href="{% url 'register' %}">Register</a> | <a href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </span>

                </div>
            </div>
            <!-- Шапка конец -->

            <!-- Центр начало -->
            <div id="page_center" class=" ">

                <!-- Левая колонка начало -->
                <div id="page_center_left">
                    <div class="page_center_menu" id="page_center_menu_left">
                        <ul>
                            <li>
                                <a href="{% url 'home' %}" class="tooltip_right_link ">
                                    <span class="pcl_p1">&#xf0cb</span>
                                    <span class="pcl_p2">Чеклист</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'departments' %}" class="tooltip_right_link ">
                                    <span class="pcl_p1">&#xf19c</span>
                                    <span class="pcl_p2">Реестр организаций</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'organisation' %}" class="tooltip_right_link ">
                                    <span class="pcl_p1">&#xf2c3</span>
                                    <span class="pcl_p2">Документ</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin" class="tooltip_right_link ">
                                    <span class="pcl_p1">&#xf1c0</span>
                                    <span class="pcl_p2" >Админка</span>
                                </a>
                            </li>

                        </ul>

                    </div>
                </div>
                <!-- Левая колонка конец -->
            </div>
            <!-- Центр конец -->
        </div>
    </div>
</nav>

{% endcomment %}