<!-- Вариант 1. Бутстрап -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="/media/лейбл НОК.png" alt="" width="200">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Чеклист</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'departments' %}">Реестр организаций</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'organisation' %}">Документ</a></li>
                <li class="nav-item"><a class="nav-link" href="/">Справочник</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin">Админка</a></li>
            </ul>

            <ul class="navbar-nav mb-auto">
                <span class="navbar-text">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link">{{ user.username }}</a></li>
                    {% endif %}
                </span>
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Пользователь</a>

                    {% comment %}
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Выход</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{% url 'login' %}">Войти</a></li>
                    <li><a class="dropdown-item" href="{% url 'register' %}">Регистрация</a></li>
                    {% endif %}
                      {% endcomment %}
                </ul>
            </li>
        </ul>
    </div>
</div>
</nav>
