<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<style type="text/css">
		@page { size: 8.27in 11.69in; margin-left: 0.59in; margin-right: 0.59in; margin-top: 0.39in; margin-bottom: 0.49in }
		p { color: #000000; line-height: 115%; text-align: left; orphans: 2; widows: 2; margin-bottom: 0.1in; direction: ltr; background: transparent }
		p.western { font-family: "Calibri", serif; font-size: 11pt; so-language: ru-RU }
		p.cjk { font-family: ; font-size: 11pt; so-language: ru-RU }
		p.ctl { font-family: ; font-size: 11pt; so-language: ar-SA }
		a:link { color: #000080; so-language: zxx; text-decoration: underline }
	</style>
</head>
<body lang="ru-RU" text="#000000" link="#000080" vlink="#800000" dir="ltr"><p class="western" style="margin-bottom: 0.14in">
<br/>
<br/>

</p>
<center>
	<table width="638" cellpadding="7" cellspacing="0">
		<col width="277"/>

		<col width="121"/>

		<col width="199"/>

		<tr>
			<td style="border: none; padding: 0in"><p class="western" style="orphans: 0; widows: 0">
				<img src="de06df2c5f34005522e76d76eb495b7a_html_2f7b06954944c043.png" width="317" height="132" />
<br/>

				</p>
			</td>
			<td width="121" valign="top" style="border: none; padding: 0in"><p class="western" style="orphans: 0; widows: 0">
				<br/>

				</p>
			</td>
			<td width="199" style="border: none; padding: 0in"><p class="western" align="center" style="orphans: 0; widows: 0">
				<br/>

				</p>
			</td>
		</tr>
	</table>
</center>
<p class="western" align="justify" style="margin-bottom: 0.14in"><br/>
<br/>

</p>
<p class="western" align="center" style="margin-bottom: 0in"><br/>

</p>
<p class="western" align="center" style="margin-bottom: 0in"><br/>

</p>
<p class="western" align="center" style="margin-bottom: 0in"><br/>

</p>
<p class="western" align="center" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><b>Акт
</b></font></font>
</p>
<p class="western" align="center" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><b>посещения
медицинской организации</b></font></font></p>
<p class="western" align="center" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><b>во
время проведения очного этапа </b></font></font>
</p>
<p class="western" align="center" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><b>сбора
и обобщения информации о качестве
условий оказания услуг</b></font></font></p>
<p class="western" align="center" style="margin-bottom: 0in"><br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Наименование
медицинской организации</font></font></p>
<p class="western" align="justify" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">{{'name'}}</font></font></p>
<p class="western" align="justify" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Наименование
населенного пункта {{'name'}}</font></font></p>
<p class="western" align="justify" style="margin-bottom: 0in"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">Дата
посещения медицинской организации {{'date'}}</font></font></p>
<p class="western" align="justify" style="margin-bottom: 0in"><br/>

</p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font size="4" style="font-size: 14pt">Сведения
об уполномоченном представителе организации-оператора:</font><font size="4" style="font-size: 14pt">&nbsp;</font></font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font size="4" style="font-size: 14pt"> {{'name'}},</font><font size="4" style="font-size: 14pt">&nbsp;</font></font></font></p>
<p align="center" style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font size="4" style="font-size: 14pt">
	(фамилия, имя, отчество представителяорганизации-оператора)</font><font size="4" style="font-size: 14pt">&nbsp;</font></font></font></p>
<p style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font size="4" style="font-size: 14pt">в рисутствии
	{{'name'}}</font></font></font></p>
<p align="center" style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font size="4" style="font-size: 14pt">
	(фамилия, имя, отчество лица, сопровождающего представителя организации-оператора
от медицинской организации)</font><font size="4" style="font-size: 14pt">&nbsp;</font></font></font></p>
<p align="center" style="line-height: 100%; margin-bottom: 0in"><br/>

</p>
<p align="justify" style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font size="4" style="font-size: 14pt">совместно
произвели визуальный осмотр помещений
медицинской организации и прилегающей
территории в целях обеспечения сбора
и обобщения информации о качестве
условий оказания услуг в соответствии
с Приказом Минздрава России от 04.05.2018 №
201н «Об утверждении показателей,
характеризующих общие критерии оценки
качества условий оказания услуг
медицинскими организациями, в отношении
которых проводится независимая оценка»
(Зарегистрировано в Минюсте России
23.05.2018 N 51156)</font><font color="#000000"><font size="4" style="font-size: 14pt">.</font></font><font color="#000000"><font size="4" style="font-size: 14pt">&nbsp;</font></font></font></font></p>
<p align="justify" style="line-height: 100%; text-indent: 0.49in; margin-bottom: 0in">
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font color="#000000"><font size="4" style="font-size: 14pt">В
ходе визуального осмотра установлено
следующее:</font></font><font color="#000000"><font size="4" style="font-size: 14pt">&nbsp;</font></font></font></font></p>
<p class="western" align="justify" style="margin-bottom: 0in"><br/>

</p>
<p class="western" align="justify" style="margin-bottom: 0in; page-break-before: always">
<br/>

</p>

<br/>
<font face="Times New Roman, serif"><font size="5" style="font-size: 14pt"><b>Критерий
	1. Соответствие информации о деятельности
	медицинской организации, размещенной
	на общедоступных информационных
	ресурсах, перечню информации и
	требованиям к ней, установленными
	нормативными правовыми актами</b></font></font></p>
<br/>

<table width="711" cellpadding="4" cellspacing="0">
	<col width="18"/>

	<col width="566"/>

	<col width="65"/>

	<col width="65"/>

	<thead>
		<tr valign="top">
			<td width="18" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in"><p class="western" style="orphans: 0; widows: 0">
				<font face="Times New Roman, serif" size="3" style="font-size: 12pt">№ п/п</font></p>
			</td>
			<td colspan="3" width="664" style="border: 1px solid #000000; padding: 0in 0.08in"><p class="western" align="center" style="orphans: 0; widows: 0">
				<font face="Times New Roman, serif"><b>АМБУЛАТОРНЫЕ
				УСЛОВИЯ</b></font></p>
			</td>
		</tr>
		<tr>
			<td rwidth="18" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">
			</td>
			<td width="566" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">
				<font face="Times New Roman, serif" size="3" style="font-size: 12pt">Наименование
				документа</font></p>
			</td>
			<td width="65" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">
				<font face="Times New Roman, serif" size="3" style="font-size: 12pt">Наличие</font></p>
				<p class="western" align="center" style="orphans: 0; widows: 0"><font face="Times New Roman, serif"><b>Стенд</b></font></p>
			</td>
			<td width="65" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">
				<font face="Times New Roman, serif" size="3" style="font-size: 12pt">Наличие</font></p>
				<p class="western" align="center" style="orphans: 0; widows: 0"><font face="Times New Roman, serif"><b>Сайт</b></font></p>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="4" width="711" valign="top" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" align="center" style="orphans: 0; widows: 0">
				<font color="#000000" face="Times New Roman, serif" size="3" style="font-size: 11pt"><b>
					I. Общая информация о медицинской организации</b></font></p>
			</td>
		</tr>
		<tr valign="top">
			<td width="18" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">
				<font face="Times New Roman, serif" size="3" style="font-size: 12pt">1.</font></p>
			</td>
			<td width="566" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">
				<font face="Times New Roman, serif" size="3" style="font-size: 11pt">Полное наименование</font></p>
			</td>
			<td width="65" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">Да
				<br/>

				</p>
			</td>
			<td width="65" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">Нет
				<br/>

				</p>
			</td>
		</tr>
		<tr valign="top">
			<td width="18" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">
				<font face="Times New Roman, serif" size="3" style="font-size: 12pt">1.</font></p>
			</td>
			<td width="566" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">
				<font face="Times New Roman, serif" size="3" style="font-size: 11pt">Какойто вариант</font></p>
			</td>
			<td width="65" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">Х
				<br/>

			</p>
			</td>
			<td width="65" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">Другой вариант
				<br/>

			</p>
			</td>
		</tr>
			<td colspan="4" width="711" valign="top" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" align="center" style="orphans: 0; widows: 0">
				<font color="#000000" face="Times New Roman, serif" size="3" style="font-size: 11pt"><b>
					II. Информация о медицинской деятельности медицинской организации</b></font></p>
			</td>
		</tr>
		<tr valign="top">
			<td width="18" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">
				<font face="Times New Roman, serif" size="3" style="font-size: 12pt">21.</font></p>
			</td>
			<td width="566" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">
				<font face="Times New Roman, serif" size="3" style="font-size: 11pt">О наличии лицензии
				на осуществление медицинской
				деятельности с приложением (копия
				лицензии)</font></p>
			</td>
			<td width="65" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">
				<br/>

			</p>
			</td>
			<td width="65" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">
				<br/>
			</p>
			</td>
		</tr>

		<tr valign="top">
			<td colspan="4" width="711" style="border: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">
				<font face="Times New Roman, serif" size="3" style="font-size: 11pt">* В случаях,
				когда, медицинская организация не
				оказывает первичную медико-санитарную
				помощь и/или не имеет прикрепленного
				населения, в помещениях медицинской
				организации представляется информация
				о сроках и порядке проведения
				диспансеризации</font><font face="Times New Roman, serif">
				</font><font face="Times New Roman, serif">(профилактических
				медицинских осмотров) населения
				Российской Федерации</font></p>
			</td>
		</tr>

		<tr valign="top">
			<td colspan="4" width="711" style="border: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">
				<font face="Times New Roman, serif" size="3" style="font-size: 11pt">** В случаях,
				когда медицинская организация не
				оказывает платных медицинских услуг,
				в помещениях медицинской организации
				представляется информация об отсутствии
				платных медицинских услуг: </font></p>
			</td>
		</tr>

	</tbody>
</table>

<br/>

<table width="711" cellpadding="4" cellspacing="0">
	<col width="600"/>

	<col width="93"/>

	<tr>
		<td colspan="2" width="701" valign="top" style="border: 1px solid #000000; padding: 0.04in"><p class="western" align="center" style="orphans: 0; widows: 0">
			<font color="#000000"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="ru-RU"><b>1.2.
			Обеспечение на официальном сайте
			организации наличия и функционирования
			дистанционных способов обратной связи
			и взаимодействия с получателями услуг</b></span></font></font></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="600" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">
			<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">наличие
			на официальном сайте номера телефона
			организации (его функционирование)</font></font></p>
		</td>
		<td width="93" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in"><p style="orphans: 0; widows: 0">
			<br/>

			</p>
		</td>
	</tr>
</table>
<p class="western" style="margin-bottom: 0.14in"><br/></p>

<br/>
<font face="Times New Roman, serif"><font size="5" style="font-size: 18pt"><b>
	Критерий 2. Комфортность условий предоставления услуг</b></font></font></p>
<br/>

<table width="711" cellpadding="7" cellspacing="0">
	<col width="594"/>

	<col width="87"/>

	<tr>
		<td colspan="2" width="701" valign="top" style="border: 1px solid #000000; padding: 0.04in"><p class="western" align="center" style="orphans: 0; widows: 0">
			<font color="#000000"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="ru-RU"><b>2.1.1
				Наличие комфортных условий для предоставления услуг</b></span></font></font></font>
			</p>
		</td>
	</tr>

	<tr valign="top">
		<td width="600" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">
			<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">обеспечение
				лечебно-охранительного режима. (Отсутствие
				свободных мест ожидания, состояние
				гардероба, питание, действия персонала
				по уходу)</span></font></font></p>
		</td>
		<td width="93" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in"><p style="orphans: 0; widows: 0">
			<br/>

		</p>
		</td>
	</tr>

	<tr valign="top">
		<td width="600" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">
			<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">
				санитарное состояние</span></font></font></p>
		</td>
		<td width="93" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in"><p style="orphans: 0; widows: 0">
			<br/>

		</p>
		</td>
	</tr>
</table>
<p class="western" align="center" style="margin-bottom: 0in"><br/>

</p>
<table width="711" cellpadding="4" cellspacing="0">
	<col width="600"/>

	<col width="93"/>

	<tr>
		<td colspan="2" width="701" valign="top" style="border: 1px solid #000000; padding: 0.04in"><p class="western" align="center" style="orphans: 0; widows: 0">
			<font color="#000000"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="ru-RU"><b>2.2.1.
			Среднее время ожидания предоставления услуги </b></span></font></font></font>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="600" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">
			<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">превышает
			установленный срок ожидания</font></font></p>
		</td>
		<td width="93" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in"><p style="orphans: 0; widows: 0"><br/></p>
		</td>
	</tr>

	<tr valign="top">
		<td width="600" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">
			<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">меньше
			установленного срока ожидания не
			менее, чем на 1/2 срока</font></font></p>
		</td>
		<td width="93" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in"><p style="orphans: 0; widows: 0">
			<br/>

			</p>
		</td>
	</tr>
</table>
<p class="western" align="center" style="margin-bottom: 0in"><br/></p>

<br/>
<font face="Times New Roman, serif"><font size="5" style="font-size: 18pt"><b>Критерий
3. Доступность услуг для инвалидов</b></font></font></p>
<br/>

<table width="711" cellpadding="7" cellspacing="0">
	<col width="594"/>

	<col width="87"/>

	<tr>
		<td colspan="2" width="701" valign="top" style="border: 1px solid #000000; padding: 0.04in"><p class="western" align="center" style="orphans: 0; widows: 0">
			<font color="#000000"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="ru-RU"><b>3.1.
			Оборудование территории, прилегающей
			к медицинской организации, и ее
			помещений с учетом доступности для
			инвалидов </b></span></font></font></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="600" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">
			<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">оборудование
			входных групп пандусами/подъемными
			платформами</font></font></font></p>
		</td>
		<td width="93" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in"><p style="orphans: 0; widows: 0"><br/></p>
		</td>
	</tr>

	<tr>
		<td width="600" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">
			<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">наличие
			и доступность специально оборудованных
			санитарно-гигиенических помещений</font></font></font></p>
		</td>
		<td width="93" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in"><p style="orphans: 0; widows: 0"><br/></p>
		</td>
	</tr>
</table>
<p class="western" align="center" style="margin-bottom: 0in"><br/>

</p>
<table width="711" cellpadding="7" cellspacing="0">
	<col width="594"/>

	<col width="87"/>

	<tr>
		<td colspan="2" width="701" valign="top" style="border: 1px solid #000000; padding: 0.04in"><p class="western" align="center" style="orphans: 0; widows: 0">
			<font color="#000000"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="ru-RU"><b>3.2.
			Обеспечение в медицинской организации
			условий доступности, позволяющих
			инвалидам получать услуги наравне с
			другими</b></span></font></font></font></p>
		</td>
	</tr>
	<tr>
		<td width="600" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">
			<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">дублирование
			для инвалидов по слуху и зрению звуковой
			и зрительной информации</font></font></font></p>
		</td>
		<td width="93" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in"><p style="orphans: 0; widows: 0"><br/></p>
		</td>
	</tr>

	<tr>
		<td width="600" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><p class="western" style="orphans: 0; widows: 0">
			<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">наличие
			возможности сопровождения инвалида
			работниками медицинской организации;</font></font></font></p>
			<p class="western" style="orphans: 0; widows: 0"><a name="__DdeLink__1539_2189241793"></a>
			<font color="#000000"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">-
			наличие возможности оказания первичной
			медико-санитарной и паллиативной
			медицинской помощи инвалидам на дому</font></font></font></p>
		</td>
		<td width="93" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in"><p style="orphans: 0; widows: 0"><br/></p>
		</td>
	</tr>
</table>
<p class="western" style="line-height: 100%; margin-bottom: 0in; page-break-before: always">
<br/>

</p>
<p class="western" align="center" style="line-height: 100%; margin-bottom: 0in">
&nbsp;</p>
<p class="western" style="line-height: 100%; margin-bottom: 0in"><font face="Times New Roman, serif"><font size="3" style="font-size: 11pt"><b>Дополнительная
информация:&nbsp;</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 11pt">&nbsp;</font></font></p>
<p class="western" style="line-height: 100%; margin-bottom: 0in"><font size="3" style="font-size: 11pt">{{ Text }}</font></p>
<table width="641" cellpadding="0" cellspacing="0">
	<col width="226"/>

	<col width="206"/>

	<col width="209"/>

	<tr valign="top">
		<td width="226" style="background: transparent; border: none; padding: 0in"><p class="western" style="orphans: 0; widows: 0">
			<font face="Times New Roman, serif"><font size="3" style="font-size: 11pt">Представитель&nbsp;<br/>
организации-оператора:&nbsp;</font></font></p>
		</td>
		<td width="206" style="background: transparent; border: none; padding: 0in"><p class="western" align="center" style="orphans: 0; widows: 0; margin-bottom: 0in">
			&nbsp;</p>
			<p class="western" align="center" style="orphans: 0; widows: 0; margin-bottom: 0in">
			<font face="Times New Roman, serif"><font size="3" style="font-size: 11pt">____________&nbsp;</font></font></p>
			<p class="western" align="center" style="orphans: 0; widows: 0"><font face="Times New Roman, serif"><font size="3" style="font-size: 11pt">(подпись)&nbsp;</font></font></p>
		</td>
		<td width="209" style="background: transparent; border: none; padding: 0in"><p class="western" align="center" style="orphans: 0; widows: 0; margin-bottom: 0in">
			&nbsp;</p>
			<p class="western" align="center" style="orphans: 0; widows: 0; margin-bottom: 0in">
			<font face="Times New Roman, serif"><font size="3" style="font-size: 11pt">________________&nbsp;</font></font></p>
			<p class="western" align="center" style="orphans: 0; widows: 0"><font face="Times New Roman, serif"><font size="3" style="font-size: 11pt">(расшифровка
			подписи)&nbsp;</font></font></p>
		</td>
	</tr>
</table>
<p class="western" align="justify" style="line-height: 100%; margin-bottom: 0in">
<br/>

</p>
<p class="western"><br/>
<br/>

</p>

<p class="western" style="line-height: 100%; margin-bottom: 0in; page-break-before: always">
<font face="Times New Roman, serif"><font size="3" style="font-size: 11pt">С
информацией, отраженной в настоящем
акте ознакомлен и согласен.&nbsp;</font></font></p>
<p class="western" align="justify" style="line-height: 100%; margin-bottom: 0in">
<font face="Times New Roman, serif"><font size="3" style="font-size: 11pt">Достоверность
отраженных в акте сведений подтверждаю.&nbsp;</font></font></p>
<table width="642" cellpadding="0" cellspacing="0">
	<col width="226"/>

	<col width="205"/>

	<col width="211"/>

	<tr valign="top">
		<td width="226" style="background: transparent; border: none; padding: 0in"><p class="western" style="orphans: 0; widows: 0">
			<font face="Times New Roman, serif"><font size="3" style="font-size: 11pt">Представитель&nbsp;<br/>
медицинской
			организации&nbsp;</font></font></p>
		</td>
		<td width="205" style="background: transparent; border: none; padding: 0in"><p class="western" align="center" style="orphans: 0; widows: 0; margin-bottom: 0in">
			&nbsp;</p>
			<p class="western" align="center" style="orphans: 0; widows: 0; margin-bottom: 0in">
			<font face="Times New Roman, serif"><font size="3" style="font-size: 11pt">____________&nbsp;</font></font></p>
			<p class="western" align="center" style="orphans: 0; widows: 0"><font face="Times New Roman, serif"><font size="3" style="font-size: 11pt">(подпись)&nbsp;</font></font></p>
		</td>
		<td width="211" style="background: transparent; border: none; padding: 0in"><p class="western" align="center" style="orphans: 0; widows: 0; margin-bottom: 0in">
			&nbsp;</p>
			<p class="western" align="center" style="orphans: 0; widows: 0; margin-bottom: 0in">
			<font face="Times New Roman, serif"><font size="3" style="font-size: 11pt">___________________&nbsp;</font></font></p>
			<p class="western" align="center" style="orphans: 0; widows: 0"><font face="Times New Roman, serif"><font size="3" style="font-size: 11pt">(расшифровка
			подписи)&nbsp;</font></font></p>
		</td>
	</tr>
</table>
<p class="western" style="line-height: 100%; margin-bottom: 0in">&nbsp;</p>
<p class="western" style="margin-bottom: 0in"><br/>

</p>
<p class="western" align="center" style="margin-bottom: 0in"><br/>

</p>
</body>
</html>