{% extends 'base.html' %}
<!--Указываю какой шаблон хочу наследовать-->

{% block title %}
{{ title }} :: {{ block.super }}
<!--Используется для переопределения блока. В данном случае title-->
{% endblock %}


{% block content %}
<form action="{% url 'forms_act_add' %}" method="post">
    {% csrf_token %}                         <!--Обязательный тег - токин котрый автоматически добавляется к форме для защиты ее от подделки-->

    {{ form.non_field.erroes }}                                   <!--Обработка общих ошибок-->

                <div class="form-group">
                    <p>
                        <label for="{{ form.type_departments.id_for_label }}">Тип департамента:</label>
                        {{ form.type_departments }}
                    <div class="invalid-feedback">
                        {{ form.type_departments.errors }}
                    </div>
                    </p>
                </div>

                <div class="form-group">
                    <p>
                        <label for="{{ form.type_organisations.id_for_label }}">Тип организации:</label>
                        {{ form.type_organisations }}
                    <div class="invalid-feedback">
                        {{ form.type_organisations.errors }}
                    </div>
                    </p>
                </div>

            <div class="form-group">
                <div class="mb-3">
                    <p>
                        <label for="{{ form.act_json.id_for_label }}">Форма акта:</label>
                        {{ form.act_json }}
                    <div class="invalid-feedback">
                        {{ form.act_json.errors }}
                    </div>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <div class="mb-3">
                        <p>
                            <label for="{{ form.version.id_for_label }}">Версия акта:</label>
                            {{ form.version }}
                        <div class="invalid-feedback">
                            {{ form.version.errors }}
                        </div>
                        </p>
                    </div>


                        <button type="submit" class="btn btn-primary btn-block">Сохранить форму</button>

                </div>
            </div>

</form>
{% endblock %}