{%  extends 'base.html' %}          <!--Указываю какой шаблон хочу наследовать-->

{% block title %}
Login :: {{ block.super }}        <!--Используется для переопределения блока. В данном случае title-->
{% endblock %}


{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">

			<h2>Авторизация</h2>

			<form method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit" class="btn btn-primary btn-block">Авторизация</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}