{% extends 'base.html' %}
<!--Указываю какой шаблон хочу наследовать-->

{% block title %}
{{ title }} :: {{ block.super }}
<!--Используется для переопределения блока. В данном случае title-->
{% endblock %}


{% block content %}
<form action="{% url 'get-act' %}" method="post">
    {% csrf_token %}
<div class="container">                    <!--Оборачиваем все содержимое сетки в контейнер-->
    <div class="row">                      <!--Ряд сетки-->

        <div class="col-md-8">
            <label class="mt-3">Учреждение:</label>
            <select class="form-select" name="org_id">
                <option selected>---Выберите учреждение---</option>
                {% for item in organisations %}
                <option value="{{ item.id }}">{{ item.organisation_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-3 offset-md-5 mt-5 d-grid">
            <a type="submit" class="btn btn-primary" role="button">Сформировать</a>
        </div>
    </div>
</div>
</form>


{% endblock %}