/**** Для первого варианта Навбара ******/


/* General style */
html{
	font-size: 16px;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #000;
    background-color: #F8F8F8;
    min-width: 320px;                           /*Минимальная ширина для мобильного устройства*/
}

img{                                            /*Общие настройки адаптивности для изображений*/
	max-width: 100%;
	height: auto;
}

section{                                        /*Общие настройки для всех секций*/
	padding: 50px 0;                            /*Отступы*/
}

a{
	color: #000;
}

a:hover{                                        /*Изменение стиля ссылки при наведении курсора*/
	color: #0000FF;
}

/* END General style */

/* Header */
.container-fluid{
	background-color: #19caf7;
}

.navbar-nav .nav-item .nav-link{
	padding-left: 20px;
	font-size: 16px;
	font-weight: 500;
	color: #000;
	text-transform: uppercase;
}

.top-menu li a::after{                        /*Подчеркивание элемента*/
	content: '';
	display: block;
	width: 100%;
	background-color: #000;
	height: 1px;
	transition: all .3s;
	transform: scale(0);                     /*Пока не навили курсор - линии не видно*/
}
.top-menu li a:hover:after{
	transform: scale(1);                     /*Навили курсор - линию видно*/
}

/* END Header */













/*
.nav-text{
	font-size: 18px;
    color: #000000 !important;
}
*/

/**** Для второго варианта Навбара ******/
/**/
@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoRegular.woff") format("woff"),
	url("../fonts/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/**/
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),
  url("../fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
  url("../fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0") format("woff"),
  url("../fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
  url("../fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/**/
