body{
    background-color: #fefefe;
}

.errorlist{
    color: red;
}

.columns_lib{
      float: left; /*Задаем обтекание*/
      /*line-height: 120px;/*Высота строки +  верт. центрирования текста*/
      /*font-size: 40px;
      background: dodgerblue;
      color: white;*/
      margin-top: 10px;
      width: 100%; /*Фиксируем ширину блока*/
      margin-left: 20px;
      margin-right: 20px;
      text-align: left; /*Центрируем текст по горизонтали*/

}