{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'bootstrap_v5.2.0/css/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">



    <title>{% block title %}Независимая оценка{% endblock %}</title>
</head>
<body>

   {% include 'inc/_nav.html' %}

   <div class="">
       {% block content %}CONTENT_1{% endblock %}
   </div>

   <div class="">
       {% block content_detail %}{% endblock %}
   </div>



   <div class="container mt-3">
       <div class="row">
           <div class="col-md-6 offset-md-3">

               {% if messages %}

               {% for message in messages %}

               {% if message.tags == 'error' %}
               <div class="alert alert-danger" role="alert">
                   {{ message }}
               </div>
               {% else %}
               <div class="alert alert-{{ message.tags }}" role="alert">
                   {{ message }}
               </div>

               {% endif %}

               {% endfor %}
               {% endif %}
           </div>
       </div>
   </div>






   <script src="{% static 'bootstrap_v5.2.0/js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
