{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">


        <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">

        <script src="/static/admin/js/nav_sidebar.js" defer=""></script>

        <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">


        <script src="/admin/jsi18n/"></script>
        <script src="/static/admin/js/vendor/jquery/jquery.js"></script>
        <script src="/static/admin/js/jquery.init.js"></script>
        <script src="/static/admin/js/core.js"></script>
        <script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
        <script src="/static/admin/js/actions.js"></script>
        <script src="/static/admin/js/urlify.js"></script>
        <script src="/static/admin/js/prepopulate.js"></script>
        <script src="/static/admin/js/vendor/xregexp/xregexp.js"></script>

    <!--
            <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
            <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">


            <meta name="robots" content="NONE,NOARCHIVE">  -->


     <title>{% block title %}Независимая оценка{% endblock %}</title>
 </head>
 <body>

 {% include 'inc/_nav.html' %}

 <div class=" ">
     {% block sidebar %}{% endblock %}
 </div>

 <div class="">
     {% block content %}CONTENT111{% endblock %}
 </div>



{% comment %}
 <!--
 <div class="columns_lib_2, col-md-2">
     {% block columns_lib_2 %}{% endblock %}
 </div>
-->
<!--
 <div class="container mt-2, col-md-3">
     <div class="row">

         <div class="col-md-9">

             {% if messages %}

             {% for message in messages %}

             {% if message.tags == 'error' %}
             <div class="alert alert-danger" role="alert">
                 {{ message }}
             </div>
             {% else %}
             <div class="alert alert-{{ message.tags }}" role="alert">
                 {{ message }}
             </div>

             {% endif %}

             {% endfor %}
             {% endif %}

             {% block content2 %}CONTENT2{% endblock %}
         </div>
     </div>
 </div>
-->
 {% endcomment %}

 <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>